@media (max-width: 80em) {
  .d-xl-none {
    display: none;
  }

  .d-xl-block {
    display: block;
  }

  .d-xl-flex {
    display: flex;
  }

  .d-xl-grid {
    display: grid;
  }

  /*-------------------------------------------------------------*/
}
@media (max-width: 64em) {
  .d-lg-none {
    display: none;
  }

  .d-lg-block {
    display: block;
  }

  .d-lg-flex {
    display: flex;
  }

  .d-lg-grid {
    display: grid;
  }

  /*-------------------------------------------------------------video*/
  .play-media {
    width: 50px;
    height: 50px;
  }
  .play-media i {
    font-size: 20px;
    color: #fff;
    transition: 0.2s;
  }

  .block-media-category {
    margin: 0;
    padding: 0 0 50px 0;
  }
  .block-media-category .category-media {
    display: block;
  }
  .block-media-category .articles-content {
    padding: 0 15px;
  }
  .block-media-category .category-media__large .articles-title {
    font-size: 20px;
  }
  .block-media-category .articles-public {
    margin: 4px 0 10px;
  }
  .block-media-category .category-media__large .articles-des {
    font-size: 14px;
  }
  .block-media-category .category-media__small {
    padding-left: 15px;
    padding-right: 15px;
  }
  .block-media-category .category-media__small .articles-item {
    display: flex;
  }
  .block-media-category .category-media__small .articles-img {
    width: 40%;
    flex-shrink: 0;
  }
  .block-media-category .category-media__small .articles-content {
    margin-top: 0;
    padding: 0 0 0 15px;
  }
  .block-media-category .category-media__small .articles-title {
    font-size: 15px;
  }

  .block-video-other {
    padding-left: 15px;
    padding-right: 15px;
  }
  .block-video-other .block-video-other__header {
    font-size: 18px;
  }
  .block-video-other .block-video-other__header svg {
    width: 17px;
    height: 17px;
  }
  .block-video-other .articles-item {
    display: flex;
  }
  .block-video-other .articles-item + .articles-item {
    margin-top: 10px;
  }
  .block-video-other .articles-img {
    width: 40%;
    flex-shrink: 0;
  }
  .block-video-other .articles-content {
    margin: 0;
    padding-left: 15px;
    flex: 1;
  }
  .block-video-other .articles-title {
    margin-top: 0;
  }

  /*-------------------------------------------------------------detail*/
  .detail-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .detail-wrapper .detail-title {
    font-size: 22px;
    line-height: 28px;
  }
  .detail-wrapper .detail-info {
    font-size: 12px;
  }
  .detail-wrapper .detail-sapo {
    margin-top: 15px;
    margin-bottom: 24px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
  }
  .detail-wrapper .detail-content > p {
    font-size: 14px;
  }
  .detail-wrapper .ykcb {
    margin: 20px 0;
  }
  .detail-wrapper .ykcb .ykcb-form {
    display: block;
  }
  .detail-wrapper .ykcb .input-info {
    display: block;
  }
  .detail-wrapper .ykcb .input-info input {
    width: 100%;
  }
  .detail-wrapper .ykcb .input-info .input-info__children {
    margin-left: 0 !important;
    margin-top: 10px;
  }
  .detail-wrapper .ykcb .input-info .mess {
    margin-top: 24px;
  }
  .detail-wrapper .detail-footer {
    display: none;
  }
  .detail-wrapper .ykcb .btn_bl {
    margin-top: -23px;
  }
  .detail-wrapper .detail-social {
    height: 40px;
    background: #e0e0e0;
    padding: 0 7px;
  }
  .detail-wrapper .detail-share-2 {
    margin-top: 0;
  }
  .detail-wrapper .detail-share-2 .text {
    font-size: 12px;
  }

  /*-------------------------------------------------------------search*/
  .search-page__box-search {
    height: 40px;
    margin-top: 20px;
    padding-left: 16px;
    padding-right: 15px;
  }

  .box-search__btn svg {
    width: 20px;
  }

  .search-container {
    padding: 16px;
  }
  .search-container .search-heading {
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
  }
  .search-container .search-result .articles-item {
    margin-bottom: 16px;
  }
  .search-container .search-result .articles-img {
    width: 40%;
  }
  .search-container .search-result .articles-content {
    margin-left: 16px;
  }
  .search-container .search-result .articles-title {
    font-size: 14px;
    line-height: 21px;
    color: #333;
  }
  .search-container .search-result .articles-des {
    display: none;
  }
}
@media (max-width: 48em) {
  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }

  .d-md-flex {
    display: flex;
  }

  .d-md-grid {
    display: grid;
  }
}
@media (max-width: 40em) {
  .d-sm-none {
    display: none;
  }

  .d-sm-block {
    display: block;
  }

  .d-sm-flex {
    display: flex;
  }

  .d-sm-grid {
    display: grid;
  }
}

/*# sourceMappingURL=responsive.css.map */
