@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "SF";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "SF";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2");
}
@font-face {
  font-family: "SF";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2");
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: Arial;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  text-rendering: geometricPrecision;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

input,
textarea,
select,
button {
  outline: none;
  font-family: Arial;
  text-rendering: geometricPrecision;
  border: 0;
  color: #333;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: unset;
  color: inherit;
}

a:hover,
a:active,
a:focus {
  outline: 0;
  color: #d1232a;
}

img {
  display: block;
  max-width: 100%;
}

.mx-auto {
  margin: auto;
}

/*===========================================================================*/
.font-primary {
  font-family: "Arial", sans-serif;
}

.font-secondary {
  font-family: "SF", sans-serif;
}

/*===========================================================================*/
.w-1170 {
  max-width: 73.125rem;
  margin: 0 auto;
}

.w-100 {
  width: 100%;
}

.h-auto {
  height: auto;
}

/*===========================================================================*/
.fs-10 {
  font-size: 0.625rem;
}

.fs-11 {
  font-size: 0.6875rem;
}

.fs-12 {
  font-size: 0.75rem;
}

.fs-13 {
  font-size: 0.8125rem;
}

.fs-14 {
  font-size: 0.875rem;
}

.fs-15 {
  font-size: 0.9375rem;
}

.fs-16 {
  font-size: 1rem;
}

.fs-17 {
  font-size: 1.0625rem;
}

.fs-18 {
  font-size: 1.125rem;
}

.fs-20 {
  font-size: 1.25rem;
}

.fs-21 {
  font-size: 1.3125rem;
}

.fs-22 {
  font-size: 1.375rem;
}

.fs-23 {
  font-size: 1.4375rem;
}

.fs-24 {
  font-size: 1.5rem;
}

.fs-25 {
  font-size: 1.5625rem;
}

.fs-26 {
  font-size: 1.625rem;
}

.fs-28 {
  font-size: 1.75rem;
}

.fs-30 {
  font-size: 1.875rem;
}

.fs-32 {
  font-size: 2rem;
}

.fs-36 {
  font-size: 2.25rem;
}

.fs-40 {
  font-size: 2.5rem;
}

.fs-48 {
  font-size: 3rem;
}

/*=================================================================*/
.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.375rem 1.5rem;
  background-color: #fff;
  color: #fff;
  outline: none;
}

/*=================================================================*/
.thumb-img {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.thumb-item {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.thumb-5x3 {
  padding-bottom: 60%;
}

.thumb-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-wrapper {
  position: relative;
  display: block;
  padding-bottom: 56.2%;
}

.image-wrapper img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*=================================================================*/
.text-black {
  color: #000;
}

.text-white {
  color: #fff;
}

.text-gray-33 {
  color: #333;
}

.text-gray-66 {
  color: #666;
}

.text-gray-82 {
  color: #828282;
}

.text-gray-4f {
  color: #4f4f4f;
}

.text-red-d123 {
  color: #d1232a;
}

.text-blue-087 {
  color: #087ed3;
}

/*=================================================================*/
.bg-white {
  background-color: #fff;
}

/*=================================================================*/
.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

/*=================================================================*/
.pt-8 {
  padding-top: 0.5rem;
}

.pb-8 {
  padding-bottom: 0.5rem;
}

.pl-8 {
  padding-left: 0.5rem;
}

.pr-8 {
  padding-right: 0.5rem;
}

.py-8 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-8 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.p-8 {
  padding: 0.5rem;
}

.mt-8 {
  margin-top: 0.5rem;
}

.mb-8 {
  margin-bottom: 0.5rem;
}

.ml-8 {
  margin-left: 0.5rem;
}

.mr-8 {
  margin-right: 0.5rem;
}

.my-8 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mx-8 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.m-8 {
  margin: 0.5rem;
}

/*=================================================================*/
.pt-10 {
  padding-top: 0.625rem;
}

.pb-10 {
  padding-bottom: 0.625rem;
}

.pl-10 {
  padding-left: 0.625rem;
}

.pr-10 {
  padding-right: 0.625rem;
}

.py-10 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.px-10 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.p-10 {
  padding: 0.625rem;
}

.mt-10 {
  margin-top: 0.625rem;
}

.mb-10 {
  margin-bottom: 0.625rem;
}

.ml-10 {
  margin-left: 0.625rem;
}

.mr-10 {
  margin-right: 0.625rem;
}

.my-10 {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.mx-10 {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.m-10 {
  margin: 0.625rem;
}

/*=================================================================*/
.pt-12 {
  padding-top: 0.75rem;
}

.pb-12 {
  padding-bottom: 0.75rem;
}

.pl-12 {
  padding-left: 0.75rem;
}

.pr-12 {
  padding-right: 0.75rem;
}

.py-12 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.px-12 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.p-12 {
  padding: 0.75rem;
}

.mt-12 {
  margin-top: 0.75rem;
}

.mb-12 {
  margin-bottom: 0.75rem;
}

.ml-12 {
  margin-left: 0.75rem;
}

.mr-12 {
  margin-right: 0.75rem;
}

.my-12 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.mx-12 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.m-12 {
  margin: 0.75rem;
}

/*=================================================================*/
.pt-15 {
  padding-top: 0.9375rem;
}

.pb-15 {
  padding-bottom: 0.9375rem;
}

.pl-15 {
  padding-left: 0.9375rem;
}

.pr-15 {
  padding-right: 0.9375rem;
}

.py-15 {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}

.px-15 {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.p-15 {
  padding: 0.9375rem;
}

.mt-15 {
  margin-top: 0.9375rem;
}

.mb-15 {
  margin-bottom: 0.9375rem;
}

.ml-15 {
  margin-left: 0.9375rem;
}

.mr-15 {
  margin-right: 0.9375rem;
}

.my-15 {
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
}

.mx-15 {
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
}

.m-15 {
  margin: 0.9375rem;
}

/*=================================================================*/
.pt-20 {
  padding-top: 1.25rem;
}

.pb-20 {
  padding-bottom: 1.25rem;
}

.pl-20 {
  padding-left: 1.25rem;
}

.pr-20 {
  padding-right: 1.25rem;
}

.py-20 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.px-20 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.p-20 {
  padding: 1.25rem;
}

.mt-20 {
  margin-top: 1.25rem;
}

.mb-20 {
  margin-bottom: 1.25rem;
}

.ml-20 {
  margin-left: 1.25rem;
}

.mr-20 {
  margin-right: 1.25rem;
}

.my-20 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.mx-20 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.m-20 {
  margin: 1.25rem;
}

/*=================================================================*/
.mt-24 {
  margin-top: 1.5rem;
}

.mb-24 {
  margin-bottom: 1.5rem;
}

.ml-24 {
  margin-left: 1.5rem;
}

.mr-24 {
  margin-right: 1.5rem;
}

.my-24 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mx-24 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.m-24 {
  margin: 1.5rem;
}

/*=================================================================*/
.border-999 {
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}

.border-4 {
  border-radius: 0.25rem;
  overflow: hidden;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.border-6 {
  border-radius: 0.375rem;
  overflow: hidden;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
}

/*=================================================================*/
.fix-text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*=================================================================*/
.lh-15 {
  line-height: 0.9375rem;
}

.lh-19 {
  line-height: 1.1875rem;
}

.lh-22 {
  line-height: 1.375rem;
}

.lh-24 {
  line-height: 1.5rem;
}

.lh-26 {
  line-height: 1.625rem;
}

.lh-28 {
  line-height: 1.75rem;
}

.lh-30 {
  line-height: 1.875rem;
}

.lh-32 {
  line-height: 2rem;
}

.lh-34 {
  line-height: 2.125rem;
}

.lh-46 {
  line-height: 2.875rem;
}

/*=================================================================*/
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.text-center {
  text-align: center;
}

/*=================================================================*/
.d-2xl-none {
  display: none;
}

.d-2xl-block {
  display: block;
}

.d-2xl-flex {
  display: flex;
}

.d-2xl-grid {
  display: grid;
}

.d-2xl-inline {
  display: inline-block;
}

/*=================================================================*/
.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.flex-0 {
  flex-shrink: 0;
}

.flex-1 {
  flex: 1;
}

/*=================================================================*/
.col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.col-4 {
  grid-template-columns: repeat(4, 1fr);
}

/*=================================================================*/
.gap-16 {
  grid-gap: 1rem;
}

.gap-20 {
  grid-gap: 1.25rem;
}

.gap-30 {
  grid-gap: 1.875rem;
}

.header-top {
  height: 82px;
}
.header-top .header-logo {
  margin-right: 30px;
  position: relative;
}
.header-top .header-logo::after {
  content: "";
  position: absolute;
  display: block;
  height: 33px;
  width: 1px;
  background: #828282;
  left: calc(100% + 21px);
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.7;
}
.header-top .header-logo img {
  width: 170px;
  height: auto;
}
.header-top .header-weather .icon-weather {
  margin-right: 10px;
}
.header-top .header-search {
  max-width: 302px;
  width: 100%;
  height: 33px;
  position: relative;
  border: 1px solid #e5e5e5;
  border-radius: 18px;
  overflow: hidden;
}
.header-top .header-search input {
  display: block;
  height: 100%;
  width: 100%;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
}
.header-top .header-search svg {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}
.header-top .header-top-right {
  max-width: 337px;
  width: 100%;
}
.header-top .header-top-right .swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

.navbar {
  height: 40px;
  background-image: url("../images/bg-nav.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.2s linear;
}
.navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.navbar .navbar-item {
  display: flex;
  align-items: center;
}
.navbar .navbar-item:first-child {
  margin-right: 8px;
}
.navbar .navbar-item:not(:first-child) {
  margin-right: 15px;
}
.navbar .navbar-item a {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
.navbar .navbar-item:hover a, .navbar .navbar-item.active a {
  color: #ffc935;
}
.navbar .navbar-item.active svg, .navbar .navbar-item.active svg path {
  fill: #ffc935;
}

.sub-menu {
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  z-index: 100;
  background: #fff;
  height: calc(100vh - 64px);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  overflow-y: auto;
}
.sub-menu.sticky {
  opacity: 1;
  visibility: visible;
}
.sub-menu .sub-menu-item__title {
  height: 36px;
  display: flex;
  align-items: center;
  background: #f2f2f2;
  padding: 0 16px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}
.sub-menu .sub-menu-item ul {
  padding: 8px 40px 10px;
  font-size: 14px;
  line-height: 16px;
}
.sub-menu .sub-menu-item li:not(:last-child) {
  margin-bottom: 15px;
}

.header-mb-block {
  z-index: 1000;
  background-color: #fff;
}
.header-mb-block.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.header-mb {
  height: 64px;
  padding: 0 16px;
  background-color: #fff;
  z-index: 1000;
}
.header-mb .header-mb__logo img {
  width: 134px;
  height: auto;
}
.header-mb .header-mb__item {
  font-size: 24px;
  color: rgb(209, 35, 42);
}

.nav-mb {
  height: 35px;
  background-image: url("../images/bg-nav.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 11px 16px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: auto;
}
.nav-mb .nav-mb__item {
  color: #ffffff;
  font-size: 12px;
  line-height: 14px;
}
.nav-mb .nav-mb__item + .nav-mb__item {
  margin-left: 16px;
}
.nav-mb .nav-mb__item:nth-child(2) {
  font-weight: bold;
  font-size: 13px;
}
.nav-mb .nav-mb__item:first-child a {
  width: 16px;
  height: 16px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.search-mb {
  height: 38px;
  margin-bottom: 13px;
  padding: 0 16px;
  display: flex;
  align-items: center;
}
.search-mb input {
  flex: 1;
  background: #f2f2f2;
  border: 0.5px solid #bdbdbd;
  border-right: none;
  box-sizing: border-box;
  border-radius: 2px 0 0 2px;
  padding-left: 18px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #bdbdbd;
  height: 100%;
}
.search-mb .search-mb-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 51px;
  height: 100%;
  background: #d6371c;
  border-radius: 0px 2px 2px 0px;
  padding: 0;
}

.hidden {
  display: none;
}

.articles-top__large {
  margin-bottom: 15px;
}
.articles-top__large .articles-content {
  padding: 0 16px;
}
.articles-top__large .articles-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
}
.articles-top__large .articles-public {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #828282;
  margin: 4px 0 10px;
}
.articles-top__large .articles-public a {
  font-weight: bold;
}
.articles-top__large .articles-des {
  font-size: 14px;
  line-height: 21px;
  color: #4f4f4f;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.articles-top__small {
  display: flex;
  padding: 0 16px;
  margin-bottom: 15px;
}
.articles-top__small .articles-img {
  width: 40%;
}
.articles-top__small .articles-content {
  margin-top: 0 !important;
}

.icon-w-30 {
  width: 20px !important;
  height: auto !important;
}

.icon-w-20 {
  width: 20px;
  height: auto;
}

.icon-w-16 {
  width: 16px !important;
  height: auto !important;
}

.icon-w-14 {
  width: 14px !important;
  height: auto !important;
}

.block {
  margin-top: 30px;
  margin-bottom: 30px;
}

.block-right {
  width: 300px;
}

.articles-top {
  padding-bottom: 20px;
}
.articles-top .articles-item:first-child {
  grid-column: 1/3;
  grid-row: 1/3;
}
.articles-top .articles-item:first-child .articles-title {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}
.articles-top .articles-item:first-child .articles-public {
  font-size: 12px;
  color: #828282;
  margin: 7px 0 13px;
}
.articles-top .articles-item:first-child .articles-public a {
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
}
.articles-top .articles-item:first-child .articles-public a:after {
  content: "−";
  margin-left: 10px;
}
.articles-top .articles-item:first-child .articles-des {
  font-size: 16px;
  line-height: 24px;
  color: #4f4f4f;
}
.articles-top .articles-item:not(:first-child) {
  grid-column: 3/4;
}
.articles-top .articles-item:not(:first-child) .articles-title {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 9px;
  font-weight: bold;
}
.articles-top .articles-item:not(:first-child) .articles-public {
  display: none;
}
.articles-top .articles-item:not(:first-child) .articles-des {
  font-size: 15px;
  line-height: 21px;
  color: #4f4f4f;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
.articles-top .articles-content {
  margin-top: 15px;
}

.articles-middle {
  border-top: 1px solid #c4c4c4;
}

.sprite {
  display: block;
}
.sprite.sprite-thunder {
  background: url("../images/spritesheet.png") no-repeat -381px -3px;
  background-size: 538px 101px;
  width: 25px;
  height: 43px;
}
.sprite.sprite-video-icon {
  background: url("../images/spritesheet.png") no-repeat -488px -4px;
  background-size: 538px 101px;
  width: 20px;
  height: 18px;
}
.sprite.sprite-instagram {
  background: url("../images/spritesheet.png") no-repeat -90px -3px;
  background-size: 538px 101px;
  width: 22px;
  height: 22px;
}
.sprite.sprite-basketball {
  background: url("../images/spritesheet.png") no-repeat -3px -3px;
  background-size: 538px 101px;
  width: 22px;
  height: 22px;
}
.sprite.sprite-twitter-white {
  background: url("../images/spritesheet.png") no-repeat -464px -3px;
  background-size: 538px 101px;
  width: 20px;
  height: 16px;
}
.sprite.sprite-youtube {
  background: url("../images/spritesheet.png") no-repeat -513px -3px;
  background-size: 538px 101px;
  width: 22px;
  height: 15px;
}
.sprite.sprite-share-facebook {
  background: url("../images/spritesheet.png") no-repeat -344px -2px;
  background-size: 538px 101px;
  width: 32px;
  height: 32px;
}
.sprite.sprite-google-plus {
  background: url("../images/spritesheet.png") no-repeat -54px -2px;
  background-size: 538px 101px;
  width: 31px;
  height: 31px;
}
.sprite.sprite-twitter {
  background: url("../images/spritesheet.png") no-repeat -428px -2px;
  background-size: 538px 101px;
  width: 31px;
  height: 31px;
}
.sprite.sprite-save-link {
  background: url("../images/spritesheet.png") no-repeat -310px -2px;
  background-size: 538px 101px;
  width: 31px;
  height: 31px;
}

.hot-news {
  background: url("../images/bg-tin-noi-bat.jpg") no-repeat;
  background-size: cover;
  padding: 25px 0 46px;
}
.hot-news .hot-news__title {
  margin: 0 0 18px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #fff;
}
.hot-news .articles-content {
  background-color: #fff;
  padding: 10px 10px 24px;
}
.hot-news .articles-title {
  margin-bottom: 8px;
}
.hot-news .articles-public a {
  display: inline-block;
  margin-right: 10px;
}
.hot-news .articles-public a:after {
  content: "−";
  margin-left: 10px;
}
.hot-news .swiper-button-next, .hot-news .swiper-button-prev {
  position: absolute;
  background: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  z-index: 10;
  width: 30px;
  height: 30px;
  border-radius: 50px;
}
.hot-news .swiper-button-next:after, .hot-news .swiper-rtl .swiper-button-prev:after {
  font-size: 16px;
  color: #333;
  content: "❯";
}
.hot-news .swiper-button-prev:after, .hot-news .swiper-rtl .swiper-button-next:after {
  font-size: 16px;
  color: #333;
  content: "❮";
}
.hot-news .swiper-button-prev, .hot-news .swiper-rtl .swiper-button-next {
  left: -50px;
}
.hot-news .swiper-button-next, .hot-news .swiper-rtl .swiper-button-prev {
  right: -50px;
  left: auto;
}

.block-header {
  padding-top: 8px;
  margin-bottom: 20px;
  border-top: 1px solid #e0e0e0;
  position: relative;
  overflow: hidden;
}
.block-header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: #d1232a;
}

.articles-top--secondary .articles-item:not(:first-child) .articles-des {
  display: none;
}

.block-media__header {
  border-top: none;
  margin-bottom: 30px;
  padding-top: 0;
}

.block-media {
  min-height: 670px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/bg-media.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  margin-top: 43px;
}
.block-media .swiper-slide-thumb-active .block-media__content-item {
  background-color: #fff;
}
.block-media .block-media__content-item {
  height: 100%;
  background: #e0e0e0;
  padding: 30px 22px;
  border-bottom: 1px solid #ccc;
  transition: 0.2s;
}
.block-media .block-media__img .swiper {
  max-height: 432px;
}
.block-media .block-media__content {
  max-width: 400px;
  width: 100%;
}
.block-media .block-media__content .swiper {
  max-height: 432px;
}

.play-media {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
}
.play-media i {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.3);
  transition: 0.2s;
}
.play-media:hover i {
  color: #fff;
}

.play-media-secondary {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
}
.play-media-secondary i {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.3);
  transition: 0.2s;
}
.play-media-secondary:hover i {
  color: #fff;
}

.play-video {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 8px;
  right: 8px;
  width: 34px;
  height: 34px;
  border-radius: 50px;
  border: 1px solid #fff;
}
.play-video i {
  font-size: 14px;
  color: #fff;
  transition: 0.2s;
}
.play-video:hover i {
  color: #fff;
}

.see-more {
  font-size: 12px;
  line-height: 14px;
  color: #087ed3;
  text-decoration: underline;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
}
.see-more--white {
  color: #fff;
}

.articles-custom .articles-custom__left {
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  padding: 14px 10px;
}
.articles-custom .articles-custom__left-top {
  padding-bottom: 8px;
  border-bottom: 0.5px solid #bdbdbd;
  margin-bottom: 14px;
}
.articles-custom .articles-custom__left-top .articles-img {
  width: 25%;
}
.articles-custom .articles-custom__left-top .articles-img .image-wrapper {
  padding-bottom: 100%;
}
.articles-custom .articles-custom__left-top .articles-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  margin: 0 14px 5px 0;
}
.articles-custom .articles-des {
  font-size: 15px;
  color: #4f4f4f;
  margin-bottom: 10px;
}
.articles-custom .articles-custom__right .articles-custom__item {
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  padding: 14px;
}
.articles-custom .articles-custom__right .articles-custom__item + .articles-custom__item {
  margin-top: 20px;
}
.articles-custom .articles-custom__right .articles-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  padding: 0 18px;
  margin-bottom: 5px;
}
.articles-custom .articles-custom__right .articles-des {
  padding: 0 18px;
}

.block-secondary {
  margin-bottom: 30px;
}
.block-secondary .block-header {
  border-top: none;
  padding-top: 4px;
  overflow: inherit;
}
.block-secondary .sub-title__btn {
  width: 20px;
  height: 20px;
  background: #d1232a;
  border-radius: 50px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.block-secondary .sub-title__list {
  position: absolute;
  top: 30px;
  right: 0;
  min-width: 106px;
  background: #fff;
  padding: 13px 12px;
  z-index: 1;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}
.block-secondary .sub-title__list.show {
  opacity: 1;
  visibility: visible;
}
.block-secondary .sub-title__list .sub-title__item a {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #4f4f4f;
  margin-bottom: 6px;
}
.block-secondary .block-secondary-large {
  margin-bottom: 20px;
}
.block-secondary .block-secondary-large::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: linear-gradient(360deg, #000000 6.09%, rgba(0, 0, 0, 0.64) 23.91%, rgba(0, 0, 0, 0) 43.31%);
}
.block-secondary .block-secondary-large .block-secondary-title {
  position: absolute;
  bottom: 0;
  padding: 10px;
  z-index: 12;
}
.block-secondary .articles-top__small {
  padding: 0;
}
.block-secondary .articles-custom .articles-custom__left {
  padding: 12px 15px 25px;
}
.block-secondary .articles-custom .articles-custom__left-top .articles-title {
  font-size: 16px;
  line-height: 22px;
  margin: 0 10px 0px 0;
}
.block-secondary .articles-custom .articles-des {
  font-size: 14px;
}
.block-secondary .articles-custom .articles-custom__right .articles-custom__item {
  border: none;
  border-radius: 0;
  padding: 0;
  margin-top: 20px;
}
.block-secondary .articles-custom .articles-custom__right .articles-title {
  font-size: 15px;
  padding: 0;
}
.block-secondary .articles-custom .articles-custom__right .articles-des {
  padding: 0;
}

.media-secondary {
  padding: 25px 15px;
  background-color: rgba(0, 0, 0, 0.5);
}
.media-secondary .media-secondary-large {
  margin-bottom: 16px;
}
.media-secondary .media-secondary-large .icon-type {
  position: absolute;
  left: 16px;
  bottom: 11px;
}
.media-secondary .media-secondary-large .articles-content {
  background-color: #fff;
  padding: 19px 16px;
}

.category-block-header {
  border-bottom: 1px solid #bdbdbd;
}
.category-block-header .block-header__cate, .category-block-header .block-header__item.active {
  padding-bottom: 5px;
  border-bottom: 3px solid #d1232a;
}
.category-block-header .block-header__item {
  padding-bottom: 5px;
  border-bottom: 3px solid transparent;
}

.block-category .articles-top .articles-item:first-child {
  grid-column: 1/4;
  grid-row: 1/4;
}
.block-category .articles-top .articles-item:not(:first-child) {
  grid-column: 4/5;
}
.block-category .articles-top .articles-item:not(:first-child) .articles-title {
  font-size: 15px;
  margin-bottom: 0;
}
.block-category .articles-top .articles-content {
  margin-top: 10px;
}

.block-category-secondary {
  display: grid;
  grid-template-columns: 1fr 248px;
  grid-gap: 28px;
  padding-top: 26px;
  border-top: 1px solid #c4c4c4;
}
.block-category-secondary .articles-other__item {
  margin-bottom: 20px;
  display: flex;
}
.block-category-secondary .articles-other__item .articles-img {
  width: 35%;
  flex-shrink: 0;
}
.block-category-secondary .articles-other__item .articles-content {
  flex: 1;
  margin-left: 20px;
}
.block-category-secondary .block-category-secondary__left .articles-title {
  font-size: 16px;
  font-weight: bold;
  color: #404040;
  margin-bottom: 6px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.block-category-secondary .block-category-secondary__left .articles-des {
  font-size: 15px;
  color: #4f4f4f;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.border-none {
  border: none;
}

.category-box {
  background: #f7f7f7;
  border-radius: 2px;
  padding: 6px 15px 20px;
  position: relative;
}
.category-box + .category-box {
  margin-top: 30px;
}
.category-box .articles-item:not(:last-child) {
  margin-bottom: 20px;
}
.category-box .block-header {
  margin-left: -15px;
}
.category-box .articles-content {
  margin-top: 6px;
}
.category-box .articles-title {
  font-weight: 600;
  color: #4e4e4e;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.pagination a {
  display: flex;
  align-items: center;
  color: #685f5f;
  border-radius: 4px;
  font-size: 16px;
  line-height: 19px;
  font-family: SF;
}

.pagination a.active {
  color: #d1232a;
}

.pagination .number:not(:last-child) {
  margin-right: 25px;
}

.pagination-arrow {
  background: #e0e0e0;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-back {
  transform: rotateZ(180deg);
  margin-right: 21px;
}

.pagination-next {
  margin-left: -4px;
}

.artilces-other-mb {
  padding-top: 20px;
  border-top: 1px solid #bdbdbd;
}
.artilces-other-mb .articles-other__item {
  margin-bottom: 20px;
}
.artilces-other-mb .articles-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
.artilces-other-mb .articles-content {
  display: flex;
}
.artilces-other-mb .articles-img {
  width: 40%;
  flex-shrink: 0;
}
.artilces-other-mb .articles-des {
  font-size: 14px;
  color: #4f4f4f;
  margin-left: 15px;
}

.btn-load-more {
  width: 150px;
  height: 32px;
  font-size: 12px;
  line-height: 14px;
  color: #087ed3;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid #087ed3;
  border-radius: 8px;
  margin: 39px auto 18px;
}

.category-box-mb {
  margin: 20px 15px;
}
.category-box-mb .articles-item {
  display: flex;
}
.category-box-mb .articles-img {
  width: 40%;
  flex-shrink: 0;
}
.category-box-mb .articles-content {
  flex: 1;
  margin-left: 15px;
  margin-top: 0;
}
.category-box-mb .articles-title {
  font-size: 14px;
  color: #333;
}

.detail-share {
  margin: 16px 0;
}

.twitter-share {
  position: relative;
  height: 20px;
  box-sizing: border-box;
  padding: 1px 12px 1px 12px;
  background-color: #1d9bf0;
  color: #fff;
  border-radius: 9999px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 12px;
}
.twitter-share * {
  margin-right: 4px;
}

.zalo-share {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: #03a5fa;
  border-radius: 3px;
  height: 20px;
  padding: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 10px;
}
.zalo-share * {
  margin-right: 4px;
}

.block-media-category {
  padding: 70px 0;
}
.block-media-category .category-media {
  grid-template-columns: 1fr 270px;
}
.block-media-category .articles-content {
  margin-top: 16px;
}
.block-media-category .category-media__large .articles-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
}
.block-media-category .articles-public {
  font-size: 12px;
  display: flex;
  align-items: center;
  margin: 17px 0 8px;
}
.block-media-category .articles-public a {
  font-weight: bold;
}
.block-media-category .category-media__large .articles-des {
  margin-bottom: 28px;
}
.block-media-category .category-media__small .articles-title {
  color: #fff;
  font-weight: bold;
}
.block-media-category .category-media__small .articles-item + .articles-item {
  margin-top: 25px;
}

.block-video-other {
  margin-top: 32px;
  margin-bottom: 20px;
}
.block-video-other .block-video-other__header {
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  color: #d1232a;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}
.block-video-other .block-video-other__header svg {
  width: 21px;
  height: 21px;
  background: #bcbcbc;
  border-radius: 50px;
  margin-right: 5px;
}
.block-video-other .articles-title {
  font-weight: bold;
  margin: 15px 0 6px;
}
.block-video-other .articles-public {
  font-size: 12px;
  line-height: 14px;
  color: #6b6b6b;
  font-family: SF;
  display: flex;
  align-items: center;
}

.breadcrumb {
  font-size: 14px;
}
.breadcrumb .bredadcrumb-item {
  color: #4f4f4f;
}
.breadcrumb .bredadcrumb-item + .bredadcrumb-item::before {
  content: "/";
  color: #006acb;
  margin: 0 5px;
}
.breadcrumb .bredadcrumb-item.active {
  color: #006acb;
}

.detail-info {
  padding: 7px 0 5px;
  margin-bottom: 15px;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}

.related-posts {
  padding-left: 80px;
  margin: 16px 0 23px;
}

.related-posts__item {
  display: flex;
  align-items: center;
}

.related-posts__link {
  font-size: 15px;
  line-height: 22px;
  color: #c31e40;
  padding-left: 4px;
}

.detail-content {
  padding-bottom: 56px;
  border-bottom: 1px solid #bdbdbd;
  margin-bottom: 3px;
}
.detail-content > h3, .detail-content > h4, .detail-content > h5, .detail-content > h6 {
  font-size: 15px;
  font-weight: bold;
  color: #4f4f4f;
}
.detail-content > p {
  font-size: 15px;
  color: #262626;
  margin-bottom: 13px;
  word-wrap: break-word;
  word-break: break-word;
}
.detail-content figure figcaption {
  display: block;
  padding: 10px;
  text-align: center;
  font-family: "arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #484848;
  background-color: #fff;
  max-width: 100%;
  line-height: 18px;
  margin-bottom: 15px;
}
.detail-content figure img {
  width: 100%;
  height: auto;
}
.detail-content figure figcaption .expEdit {
  font-weight: normal;
  margin: 0;
}
.detail-content figure figcaption em {
  font-weight: normal;
  font-style: italic;
}

.detail-wrapper .detail-footer {
  background: #f2f2f2;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 25px 20px;
}
.detail-wrapper .detail-tag svg, .detail-wrapper .detail-tag .icon {
  margin-right: 7px;
  margin-top: 10px;
  width: 24px;
}
.detail-wrapper .detail-tag-list {
  flex: 1;
  flex-wrap: wrap;
}
.detail-wrapper .detail-tag li {
  margin: 10px 0 0;
  margin-right: 15px;
}
.detail-wrapper .detail-tag-link {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 34px;
  color: #515151;
  height: 24px;
  border: 0.2px solid #888282;
  border-radius: 25px;
  padding: 0 10px;
}
.detail-wrapper .detail-share-2 {
  margin-top: 10px;
}
.detail-wrapper .detail-share-2 .text {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  color: #848383;
  margin-right: 10px;
}
.detail-wrapper .detail-share-2 .icon {
  display: flex;
  align-items: center;
}
.detail-wrapper .detail-share-2 .icon:not(:last-child) {
  margin-right: 14px;
}
.detail-wrapper .ykcb {
  background: #f5f5f5;
  padding: 20px;
  margin: 40px 0 28px;
  position: relative;
}
.detail-wrapper .ykcb .title {
  font-size: 17px;
  font-family: SF;
  font-weight: 500;
  color: #2e2e2e;
  padding-left: 27px;
}
.detail-wrapper .ykcb .txt_bl {
  border: 1px solid #ececec;
  width: 100%;
  height: 120px;
  font: normal 15px/20px SF;
  background: #fff;
  margin: 17px 0;
  padding: 14px 20px;
  box-sizing: border-box;
}
.detail-wrapper .ykcb .ykcb-form {
  display: grid;
  grid-template-columns: 82% auto;
}
.detail-wrapper .ykcb .input-info {
  display: flex;
}
.detail-wrapper .ykcb .input-info input {
  padding: 5px;
  width: 195px;
  height: 25px;
}
.detail-wrapper .ykcb .input-info .mess {
  margin-right: 20px;
  font-family: SF;
  font-weight: bold;
  color: #747474;
  display: block;
  font-size: 12px;
  margin-top: 10px;
}
.detail-wrapper .ykcb .btn_bl {
  background: #fe0202;
  cursor: pointer;
  padding: 0px 9px;
  border-radius: 2px;
  border: none;
  float: right;
  color: #fff;
  font: normal 13px/29px "SF";
  height: 30px;
  margin-top: -3px;
}

.detail-articles-other .articles-other__item {
  margin-bottom: 20px;
  display: flex;
}
.detail-articles-other .articles-other__item .articles-img {
  width: 25%;
  flex-shrink: 0;
}
.detail-articles-other .articles-other__item .articles-content {
  flex: 1;
  margin-left: 20px;
}
.detail-articles-other .articles-other__item .articles-title {
  font-size: 16px;
  font-weight: bold;
  color: #404040;
  margin-bottom: 6px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.detail-articles-other .articles-other__item .articles-des {
  font-size: 15px;
  color: #4f4f4f;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-page__box-search {
  max-width: 570px;
  width: 100%;
  height: 54px;
  display: flex;
}

.box-search__input {
  flex: 1;
  display: block;
  border: 1px solid #dddddd;
  border-radius: 4px 0 0 4px;
  border-right: none;
  padding-left: 28px;
  padding-right: 15px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}

.box-search__btn {
  width: 54px;
  background: #d1232a;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
}

.search-page__col {
  display: flex;
  margin-top: 30px;
}

.search-page__col-right {
  max-width: 300px;
  width: 100%;
}

.search-page__col-right .qc {
  height: 100%;
}

.search-page__col-left {
  flex: 1;
  margin-right: 30px;
}

.search-container {
  padding-right: 40px;
}
.search-container .search-heading {
  color: #6b6b6b;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.search-container .search-result .articles-item {
  display: flex;
  margin-bottom: 20px;
}
.search-container .search-result .articles-img {
  width: 25%;
  flex-shrink: 0;
}
.search-container .search-result .articles-content {
  flex: 1;
  margin-left: 20px;
}
.search-container .search-result .articles-title {
  color: #404040;
  font-weight: bold;
  line-height: 22px;
}
.search-container .search-result .articles-des {
  font-size: 14px;
  margin-top: 10px;
  font-size: 15px;
  line-height: 21px;
  color: #4e4e4e;
  margin-top: 6px;
}

#back-top {
  position: fixed;
  right: 1rem;
  bottom: 6rem;
  width: 2.5rem;
  height: 2.5rem;
  background: rgba(209, 35, 42, 0.6);
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  z-index: 100;
  visibility: hidden;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  user-select: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#back-top .icon {
  width: 16px;
  height: auto;
}

.footer-1 {
  padding-top: 48px;
  padding-bottom: 21px;
  background: #f7f7f7;
}

.footer-contact {
  max-width: 286px;
  width: 100%;
}
.footer-contact .footer-logo {
  display: block;
  margin-bottom: 18px;
}
.footer-contact .footer-logo img {
  width: 171px;
  height: auto;
}

.footer-nav {
  max-height: 230px;
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
}
.footer-nav .footer-nav__item {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.footer-nav .footer-nav__item:not(:last-child) {
  margin-bottom: 22px;
}

.footer-newsletter {
  max-width: 334px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer-newsletter .phone-contact > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.footer-newsletter .phone-contact .text {
  font-family: SF;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 7px;
}
.footer-newsletter .phone-contact .number {
  font-family: SF;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #d1232a;
}

.footer-1 .text,
.footer-1 .footer-nav__item a {
  font-family: SF;
  font-size: 14px;
  line-height: 17px;
}

.footer-1 .text:not(:last-child) {
  margin-bottom: 10px;
}

.footer-2 {
  background: #d1232a;
  height: 79px;
  display: flex;
  align-items: center;
}
.footer-2 .footer-left {
  max-width: 287px;
}
.footer-2 .footer-center {
  max-width: 470px;
}
.footer-2 .text {
  font-family: SF;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}
.footer-2 .footer-right__item {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.footer-2 .footer-right__item:not(:last-child) {
  margin-right: 20px;
}

.footer-mb .footer-1 {
  padding: 24px 15px;
}
.footer-mb .footer-logo {
  width: 137px;
}
.footer-mb .footer-secondary {
  background: #d1232a;
  padding: 20px 16px;
}
.footer-mb .footer-secondary .text {
  font-family: SF;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
}
.footer-mb .footer-secondary .text:not(:last-child) {
  margin-bottom: 10px;
}

@media (max-width: 1280px) {
  .d-xl-none {
    display: none;
  }
  .d-xl-block {
    display: block;
  }
  .d-xl-flex {
    display: flex;
  }
  .d-xl-grid {
    display: grid;
  }
  /*-------------------------------------------------------------*/
}
@media (max-width: 1024px) {
  .d-lg-none {
    display: none;
  }
  .d-lg-block {
    display: block;
  }
  .d-lg-flex {
    display: flex;
  }
  .d-lg-grid {
    display: grid;
  }
  .w-1170 {
    padding-left: 10px;
    padding-right: 10px;
  }
  /*-------------------------------------------------------------video*/
  .play-media {
    width: 50px;
    height: 50px;
  }
  .play-media i {
    font-size: 20px;
    color: #fff;
    transition: 0.2s;
  }
  .block-media-category {
    margin: 0;
    padding: 0 0 50px 0;
  }
  .block-media-category .category-media {
    display: block;
  }
  .block-media-category .articles-content {
    padding: 0 15px;
  }
  .block-media-category .category-media__large .articles-title {
    font-size: 20px;
  }
  .block-media-category .articles-public {
    margin: 4px 0 10px;
  }
  .block-media-category .category-media__large .articles-des {
    font-size: 14px;
  }
  .block-media-category .category-media__small {
    padding-left: 15px;
    padding-right: 15px;
  }
  .block-media-category .category-media__small .articles-item {
    display: flex;
  }
  .block-media-category .category-media__small .articles-img {
    width: 40%;
    flex-shrink: 0;
  }
  .block-media-category .category-media__small .articles-content {
    margin-top: 0;
    padding: 0 0 0 15px;
  }
  .block-media-category .category-media__small .articles-title {
    font-size: 15px;
  }
  .block-video-other {
    padding-left: 15px;
    padding-right: 15px;
  }
  .block-video-other .block-video-other__header {
    font-size: 18px;
  }
  .block-video-other .block-video-other__header svg {
    width: 17px;
    height: 17px;
  }
  .block-video-other .articles-item {
    display: flex;
  }
  .block-video-other .articles-item + .articles-item {
    margin-top: 10px;
  }
  .block-video-other .articles-img {
    width: 40%;
    flex-shrink: 0;
  }
  .block-video-other .articles-content {
    margin: 0;
    padding-left: 15px;
    flex: 1;
  }
  .block-video-other .articles-title {
    margin-top: 0;
  }
  /*-------------------------------------------------------------detail*/
  .detail-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .detail-wrapper .detail-title {
    font-size: 22px;
    line-height: 28px;
  }
  .detail-wrapper .detail-info {
    font-size: 12px;
  }
  .detail-wrapper .detail-sapo {
    margin-top: 15px;
    margin-bottom: 24px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
  }
  .detail-wrapper .related-posts {
    padding-left: 0;
    margin: 16px 0 23px;
  }
  .detail-wrapper .detail-content > p {
    font-size: 14px;
  }
  .detail-wrapper .ykcb {
    margin: 20px 0;
  }
  .detail-wrapper .ykcb .ykcb-form {
    display: block;
  }
  .detail-wrapper .ykcb .input-info {
    display: block;
  }
  .detail-wrapper .ykcb .input-info input {
    width: 100%;
  }
  .detail-wrapper .ykcb .input-info .input-info__children {
    margin-left: 0 !important;
    margin-top: 10px;
  }
  .detail-wrapper .ykcb .input-info .mess {
    margin-top: 24px;
  }
  .detail-wrapper .detail-footer {
    display: none;
  }
  .detail-wrapper .ykcb .btn_bl {
    margin-top: -23px;
  }
  .detail-wrapper .detail-social {
    height: 40px;
    background: #e0e0e0;
    padding: 0 7px;
  }
  .detail-wrapper .detail-share-2 {
    margin-top: 0;
  }
  .detail-wrapper .detail-share-2 .text {
    font-size: 12px;
  }
  /*-------------------------------------------------------------search*/
  .search-page__box-search {
    height: 40px;
    margin-top: 20px;
    padding-left: 16px;
    padding-right: 15px;
  }
  .box-search__btn svg {
    width: 20px;
  }
  .search-container {
    padding: 16px;
  }
  .search-container .search-heading {
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
  }
  .search-container .search-result .articles-item {
    margin-bottom: 16px;
  }
  .search-container .search-result .articles-img {
    width: 40%;
  }
  .search-container .search-result .articles-content {
    margin-left: 16px;
  }
  .search-container .search-result .articles-title {
    font-size: 14px;
    line-height: 21px;
    color: #333;
  }
  .search-container .search-result .articles-des {
    display: none;
  }
}
@media (max-width: 768px) {
  .d-md-none {
    display: none;
  }
  .d-md-block {
    display: block;
  }
  .d-md-flex {
    display: flex;
  }
  .d-md-grid {
    display: grid;
  }
}
@media (max-width: 640px) {
  .d-sm-none {
    display: none;
  }
  .d-sm-block {
    display: block;
  }
  .d-sm-flex {
    display: flex;
  }
  .d-sm-grid {
    display: grid;
  }
  /*------------------------------------------------------------ detail*/
  .detail-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  /*------------------------------------------------------------ footer*/
  .footer-contact .footer-logo img {
    width: 137px;
  }
}

/*# sourceMappingURL=style.css.map */
