.breadcrumb {
  font-size: 14px;
  & .bredadcrumb-item {
    color: #4f4f4f;
    & + .bredadcrumb-item::before {
      content: "/";
      color: #006acb;
      margin: 0 5px;
    }

    &.active {
      color: #006acb;
    }
  }
}
.detail-info {
  padding: 7px 0 5px;
  margin-bottom: 15px;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
.related-posts {
  padding-left: 80px;
  margin: 16px 0 23px;
}
.related-posts__item {
  display: flex;
  align-items: center;
}
.related-posts__link {
  font-size: 15px;
  line-height: 22px;
  color: #c31e40;
  padding-left: 4px;
}
.detail-content {
  padding-bottom: 56px;
  border-bottom: 1px solid #bdbdbd;
  margin-bottom: 3px;
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    font-size: 15px;
    font-weight: bold;
    color: #4f4f4f;
  }
  & > p {
    font-size: 15px;
    color: #262626;
    margin-bottom: 13px;
    word-wrap: break-word;
    word-break: break-word;
  }
  & figure figcaption {
    display: block;
    padding: 10px;
    text-align: center;
    font-family: "arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #484848;
    background-color: #fff;
    max-width: 100%;
    line-height: 18px;
    margin-bottom: 15px;
  }
  & figure img {
    width: 100%;
    height: auto;
  }
  & figure figcaption .expEdit {
    font-weight: normal;
    margin: 0;
  }
  & figure figcaption em {
    font-weight: normal;
    font-style: italic;
  }
}
.detail-wrapper {
  & .detail-footer {
    background: #f2f2f2;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 25px 20px;
  }

  & .detail-tag svg,
  & .detail-tag .icon {
    margin-right: 7px;
    margin-top: 10px;
    width: 24px;
  }

  & .detail-tag-list {
    flex: 1;
    flex-wrap: wrap;
  }

  & .detail-tag li {
    margin: 10px 0 0;
    margin-right: 15px;
  }

  & .detail-tag-link {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 34px;
    color: #515151;
    height: 24px;
    border: 0.2px solid #888282;
    border-radius: 25px;
    padding: 0 10px;
  }

  & .detail-share-2 {
    margin-top: 10px;

    & .text {
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 16px;
      color: #848383;
      margin-right: 10px;
    }

    & .icon {
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-right: 14px;
      }
    }
  }

  & .ykcb {
    background: #f5f5f5;
    padding: 20px;
    margin: 40px 0 28px;
    position: relative;

    & .title {
      font-size: 17px;
      font-family: SF;
      font-weight: 500;
      color: #2e2e2e;
      padding-left: 27px;
    }

    & .txt_bl {
      border: 1px solid #ececec;
      width: 100%;
      height: 120px;
      font: normal 15px/20px SF;
      background: #fff;
      margin: 17px 0;
      padding: 14px 20px;
      box-sizing: border-box;
    }

    & .ykcb-form {
      display: grid;
      grid-template-columns: 82% auto;
    }

    & .input-info {
      display: flex;

      & input {
        padding: 5px;
        width: 195px;
        height: 25px;
      }

      & .mess {
        margin-right: 20px;
        font-family: SF;
        font-weight: bold;
        color: #747474;
        display: block;
        font-size: 12px;
        margin-top: 10px;
      }
    }

    & .btn_bl {
      background: #fe0202;
      cursor: pointer;
      padding: 0px 9px;
      border-radius: 2px;
      border: none;
      float: right;
      color: #fff;
      font: normal 13px/29px "SF";
      height: 30px;
      margin-top: -3px;
    }
  }
}
.detail-articles-other {
  & .articles-other__item {
    margin-bottom: 20px;
    display: flex;
    & .articles-img {
      width: 25%;
      flex-shrink: 0;
    }
    & .articles-content {
      flex: 1;
      margin-left: 20px;
    }

    & .articles-title {
      font-size: 16px;
      font-weight: bold;
      color: #404040;
      margin-bottom: 6px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & .articles-des {
      font-size: 15px;
      color: #4f4f4f;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}


.detail-related {
  margin-top: 25px;
  margin-bottom: 15px;

  .more-text {
    padding-left: 10px;
    display: block;
    font-size: 12px;
    color: #666;
    text-align: left;
    font-family: Arial;
    line-height: 28px;
}

  & .box-articles__item {
    border: 1px solid #e3e3e3;
    border-left: 1px solid #fc915c;
    justify-content: space-between;
    display: flex;
    margin-bottom: 10px;
  }
  & .box-articles__img {
    width: 20%;
    flex-shrink: 0;
    order: 2;
  }
  & .box-articles__content {
    flex: 1;
    padding: 10px 7px;
    order: 1;
  }

  & .box-articles__title {
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 12px;
  }
}
