.header-top {
  height: 82px;
  & .header-logo {
    margin-right: 30px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: block;
      height: 33px;
      width: 1px;
      background: #828282;
      left: calc(100% + 21px);
      top: 50%;
      transform: translateY(-50%);
      opacity: 0.7;
    }
    & img {
      width: 170px;
      height: auto;
    }
  }

  & .header-weather {
    & .icon-weather {
      margin-right: 10px;
    }
  }

  & .header-search {
    max-width: 302px;
    width: 100%;
    height: 33px;
    position: relative;
    border: 1px solid #e5e5e5;
    border-radius: 18px;
    overflow: hidden;

    & input {
      display: block;
      height: 100%;
      width: 100%;
      padding: 10px 20px;
      font-size: 12px;
      line-height: 14px;
      color: #828282;
    }

    & svg {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  & .header-top-right {
    max-width: 337px;
    width: 100%;

    & .swiper-container {
      margin-left: auto;
      margin-right: auto;
      position: relative;
      overflow: hidden;
      list-style: none;
      padding: 0;
      z-index: 1;
    }
  }
}
sup {
  vertical-align: super;
  font-size: smaller;
}

.navbar {
  height: 40px;
  background-image: url("../images/bg-nav.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.2s linear;
  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  & .navbar-item {
    display: flex;
    align-items: center;

    &:first-child {
      margin-right: 8px;
    }
    &:not(:first-child) {
      margin-right: 15px;
    }
    & a {
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      color: #ffffff;
    }
    &:hover a,
    &.active a {
      color: #ffc935;
    }
    &.active svg,
    &.active svg path {
      fill: #ffc935;
    }
  }
}

// mobile
.sub-menu {
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  z-index: 100;
  background: #fff;
  height: calc(100vh - 64px);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  overflow-y: auto;
  &.sticky {
    opacity: 1;
    visibility: visible;
  }

  & .sub-menu-item__title {
    height: 36px;
    display: flex;
    align-items: center;
    background: #f2f2f2;
    padding: 0 16px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
  }

  & .sub-menu-item {
    & ul {
      padding: 8px 40px 10px;
      font-size: 14px;
      line-height: 16px;
    }
    & li:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
.header-mb-block {
  z-index: 1000;
  background-color: #fff;
  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
}
.header-mb {
  height: 64px;
  padding: 0 16px;
  background-color: #fff;
  z-index: 1000;

  & .header-mb__logo img {
    width: 134px;
    height: auto;
  }

  & .header-mb__item {
    font-size: 24px;
    color: rgb(209, 35, 42);
  }
}
.nav-mb {
  height: 35px;
  background-image: url("../images/bg-nav.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 11px 16px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: auto;

  & .nav-mb__item {
    color: #ffffff;
    font-size: 12px;
    line-height: 14px;

    + .nav-mb__item {
      margin-left: 16px;
    }

    &:nth-child(2) {
      font-weight: bold;
      font-size: 13px;
    }

    &:first-child a {
      width: 16px;
      height: 16px;
      background: rgba(255, 255, 255, 0.3);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
    }
  }
}
.search-mb {
  height: 38px;
  margin-bottom: 13px;
  padding: 0 16px;
  display: flex;
  align-items: center;

  & input {
    flex: 1;
    background: #f2f2f2;
    border: 0.5px solid #bdbdbd;
    border-right: none;
    box-sizing: border-box;
    border-radius: 2px 0 0 2px;
    padding-left: 18px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #bdbdbd;
    height: 100%;
  }

  & .search-mb-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51px;
    height: 100%;
    background: #d6371c;
    border-radius: 0px 2px 2px 0px;
    padding: 0;
  }
}
.hidden {
  display: none;
}

.articles-top__large {
  margin-bottom: 15px;
  & .articles-content {
    padding: 0 16px;
  }

  & .articles-title {
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
  }

  & .articles-public {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #828282;
    margin: 4px 0 10px;

    & a {
      font-weight: bold;
    }
  }

  & .articles-des {
    font-size: 14px;
    line-height: 21px;
    color: #4f4f4f;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
  }
}

.articles-top__small {
  display: flex;
  padding: 0 16px;
  margin-bottom: 15px;

  & .articles-img {
    width: 40%;
  }

  & .articles-content {
    margin-top: 0 !important;
  }
}
.icon-w-30 {
  width: 20px !important;
  height: auto !important;
}
.icon-w-20 {
  width: 20px;
  height: auto;
}
.icon-w-16 {
  width: 16px !important;
  height: auto !important;
}
.icon-w-14 {
  width: 14px !important;
  height: auto !important;
}