.block {
  margin-top: 30px;
  margin-bottom: 30px;
}
.block-right {
  width: 300px;
}
.articles-top {
  padding-bottom: 20px;

  & .articles-item:first-child {
    grid-column: 1/3;
    grid-row: 1/3;

    & .articles-title {
      font-size: 24px;
      line-height: 32px;
      font-weight: bold;
    }

    & .articles-public {
      font-size: 12px;
      color: #828282;
      margin: 7px 0 13px;
      & a {
        font-weight: bold;
        display: inline-block;
        margin-right: 10px;

        &:after {
          content: "\2212";
          margin-left: 10px;
        }
      }
    }

    & .articles-des {
      font-size: 16px;
      line-height: 24px;
      color: #4f4f4f;
    }
  }

  & .articles-item:not(:first-child) {
    grid-column: 3/4;

    & .articles-title {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 9px;
      font-weight: bold;
    }

    & .articles-public {
      display: none;
    }

    & .articles-des {
      font-size: 15px;
      line-height: 21px;
      color: #4f4f4f;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
    }
  }

  & .articles-content {
    margin-top: 15px;
  }
}

.articles-middle {
  border-top: 1px solid #c4c4c4;
}
.sprite {
  display: block;
  &.sprite-thunder {
    background: url("../images/spritesheet.png") no-repeat -381px -3px;
    background-size: 538px 101px;
    width: 25px;
    height: 43px;
  }
  &.sprite-video-icon {
    background: url("../images/spritesheet.png") no-repeat -488px -4px;
    background-size: 538px 101px;
    width: 20px;
    height: 18px;
  }
  &.sprite-instagram {
    background: url("../images/spritesheet.png") no-repeat -90px -3px;
    background-size: 538px 101px;
    width: 22px;
    height: 22px;
  }
  &.sprite-basketball {
    background: url("../images/spritesheet.png") no-repeat -3px -3px;
    background-size: 538px 101px;
    width: 22px;
    height: 22px;
  }
  &.sprite-twitter-white {
    background: url("../images/spritesheet.png") no-repeat -464px -3px;
    background-size: 538px 101px;
    width: 20px;
    height: 16px;
  }
  &.sprite-youtube {
    background: url("../images/spritesheet.png") no-repeat -513px -3px;
    background-size: 538px 101px;
    width: 22px;
    height: 15px;
  }
  &.sprite-share-facebook {
    background: url("../images/spritesheet.png") no-repeat -344px -2px;
    background-size: 538px 101px;
    width: 32px;
    height: 32px;
  }
  &.sprite-google-plus {
    background: url("../images/spritesheet.png") no-repeat -54px -2px;
    background-size: 538px 101px;
    width: 31px;
    height: 31px;
  }
  &.sprite-twitter {
    background: url("../images/spritesheet.png") no-repeat -428px -2px;
    background-size: 538px 101px;
    width: 31px;
    height: 31px;
  }
  &.sprite-save-link {
    background: url("../images/spritesheet.png") no-repeat -310px -2px;
    background-size: 538px 101px;
    width: 31px;
    height: 31px;
  }
}

.hot-news {
  background: url("../images/bg-tin-noi-bat.jpg") no-repeat;
  background-size: cover;
  padding: 25px 0 46px;
  & .hot-news__title {
    margin: 0 0 18px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #fff;
  }

  & .articles-content {
    background-color: #fff;
    padding: 10px 10px 24px;
  }

  & .articles-title {
    margin-bottom: 8px;
  }

  & .articles-public a {
    display: inline-block;
    margin-right: 10px;

    &:after {
      content: "−";
      margin-left: 10px;
    }
  }

  & .swiper-button-next,
  & .swiper-button-prev {
    position: absolute;
    background: #fff;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
    z-index: 10;
    width: 30px;
    height: 30px;
    border-radius: 50px;
  }

  & .swiper-button-next:after,
  & .swiper-rtl .swiper-button-prev:after {
    font-size: 16px;
    color: #333;
    content: "\276F";
  }

  & .swiper-button-prev:after,
  & .swiper-rtl .swiper-button-next:after {
    font-size: 16px;
    color: #333;
    content: "\276E";
  }
  & .swiper-button-prev,
  & .swiper-rtl .swiper-button-next {
    left: -50px;
  }

  & .swiper-button-next,
  & .swiper-rtl .swiper-button-prev {
    right: -50px;
    left: auto;
  }
}
.block-header {
  padding-top: 8px;
  margin-bottom: 20px;
  border-top: 1px solid #e0e0e0;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    background-color: #d1232a;
  }
}
.articles-top--secondary {
  & .articles-item:not(:first-child) {
    & .articles-des {
      display: none;
    }
  }
}

.block-media__header {
  border-top: none;
  margin-bottom: 30px;
  padding-top: 0;
}
.block-media {
  min-height: 670px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/bg-media.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  margin-top: 43px;
  & .swiper-slide-thumb-active {
    & .block-media__content-item {
      background-color: #fff;
    }
  }
  & .block-media__content-item {
    // max-height: 216px;
    height: 100%;
    background: #e0e0e0;
    padding: 30px 22px;
    border-bottom: 1px solid #ccc;
    transition: 0.2s;
  }

  & .block-media__img {
    & .swiper {
      max-height: 432px;
    }
  }
  & .block-media__content {
    max-width: 400px;
    width: 100%;

    & .swiper {
      max-height: 432px;
    }
  }
}
.play-media {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba($color: #000000, $alpha: 0.7);

  & i {
    font-size: 30px;
    color: rgba($color: #fff, $alpha: 0.3);
    transition: 0.2s;
  }
  &:hover i {
    color: #fff;
  }
}
.play-media-secondary {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba($color: #000000, $alpha: 0.7);

  & i {
    font-size: 14px;
    color: rgba($color: #fff, $alpha: 0.3);
    transition: 0.2s;
  }
  &:hover i {
    color: #fff;
  }
}
.play-video {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 8px;
  right: 8px;
  width: 34px;
  height: 34px;
  border-radius: 50px;
  border: 1px solid #fff;

  & i {
    font-size: 14px;
    color: #fff;
    transition: 0.2s;
  }
  &:hover i {
    color: #fff;
  }
}
.see-more {
  font-size: 12px;
  line-height: 14px;
  color: #087ed3;
  text-decoration: underline;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;

  &--white {
    color: #fff;
  }
}

.articles-custom {
  & .articles-custom__left {
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    padding: 14px 10px;
  }
  & .articles-custom__left-top {
    padding-bottom: 8px;
    border-bottom: 0.5px solid #bdbdbd;
    margin-bottom: 14px;

    & .articles-img {
      width: 25%;

      & .image-wrapper {
        padding-bottom: 100%;
      }
    }

    & .articles-title {
      font-size: 18px;
      font-weight: bold;
      line-height: 22px;
      margin: 0 14px 5px 0;
    }
  }

  & .articles-des {
    font-size: 15px;
    color: #4f4f4f;
    margin-bottom: 10px;
  }

  & .articles-custom__right {
    & .articles-custom__item {
      border: 1px solid #e0e0e0;
      border-radius: 2px;
      padding: 14px;
      + .articles-custom__item {
        margin-top: 20px;
      }
    }

    & .articles-title {
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      padding: 0 18px;
      margin-bottom: 5px;
    }

    & .articles-des {
      padding: 0 18px;
    }
  }
}

// --------------------------------------------------------------mobile
.block-secondary {
  margin-bottom: 30px;
  & .block-header {
    border-top: none;
    padding-top: 4px;
    overflow: inherit;
  }

  & .sub-title__btn {
    width: 20px;
    height: 20px;
    background: #d1232a;
    border-radius: 50px;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
  }

  & .sub-title__list {
    position: absolute;
    top: 30px;
    right: 0;
    min-width: 106px;
    background: #fff;
    padding: 13px 12px;
    z-index: 1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
    &.show {
      opacity: 1;
      visibility: visible;
    }

    & .sub-title__item a {
      display: block;
      font-size: 14px;
      line-height: 16px;
      color: #4f4f4f;
      margin-bottom: 6px;
    }
  }

  & .block-secondary-large {
    margin-bottom: 20px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      background: linear-gradient(
        360deg,
        #000000 6.09%,
        rgba(0, 0, 0, 0.64) 23.91%,
        rgba(0, 0, 0, 0) 43.31%
      );
    }

    & .block-secondary-title {
      position: absolute;
      bottom: 0;
      padding: 10px;
      z-index: 12;
    }
  }
  & .articles-top__small {
    padding: 0;
  }

  & .articles-custom .articles-custom__left {
    padding: 12px 15px 25px;
  }

  & .articles-custom .articles-custom__left-top .articles-title {
    font-size: 16px;
    line-height: 22px;
    margin: 0 10px 0px 0;
  }

  & .articles-custom .articles-des {
    font-size: 14px;
  }

  & .articles-custom .articles-custom__right .articles-custom__item {
    border: none;
    border-radius: 0;
    padding: 0;
    margin-top: 20px;
  }

  & .articles-custom .articles-custom__right .articles-title {
    font-size: 15px;
    padding: 0;
  }
  & .articles-custom .articles-custom__right .articles-des {
    padding: 0;
  }
}

.media-secondary {
  padding: 25px 15px;
  background-color: rgba(0, 0, 0, 0.5);

  & .media-secondary-large {
    margin-bottom: 16px;

    & .icon-type {
      position: absolute;
      left: 16px;
      bottom: 11px;
    }

    & .articles-content {
      background-color: #fff;
      padding: 19px 16px;
    }
  }
}
