// max width 1280px
@media (max-width: 80em) {
  .d-xl-none {
    display: none;
  }
  .d-xl-block {
    display: block;
  }
  .d-xl-flex {
    display: flex;
  }
  .d-xl-grid {
    display: grid;
  }
  /*-------------------------------------------------------------*/
}
// max width 1024px
@media (max-width: 64em) {
  .d-lg-none {
    display: none;
  }
  .d-lg-block {
    display: block;
  }
  .d-lg-flex {
    display: flex;
  }
  .d-lg-grid {
    display: grid;
  }
  /*-------------------------------------------------------------video*/
  .play-media {
    width: 50px;
    height: 50px;

    & i {
      font-size: 20px;
      color: #fff;
      transition: 0.2s;
    }
  }
  .block-media-category {
    margin: 0;
    padding: 0 0 50px 0;
    & .category-media {
      display: block;
    }

    & .articles-content {
      padding: 0 15px;
    }

    & .category-media__large .articles-title {
      font-size: 20px;
    }

    & .articles-public {
      margin: 4px 0 10px;
    }

    & .category-media__large .articles-des {
      font-size: 14px;
    }

    & .category-media__small {
      padding-left: 15px;
      padding-right: 15px;

      & .articles-item {
        display: flex;
      }

      & .articles-img {
        width: 40%;
        flex-shrink: 0;
      }

      & .articles-content {
        margin-top: 0;
        padding: 0 0 0 15px;
      }

      & .articles-title {
        font-size: 15px;
      }
    }
  }

  .block-video-other {
    padding-left: 15px;
    padding-right: 15px;

    & .block-video-other__header {
      font-size: 18px;
      & svg {
        width: 17px;
        height: 17px;
      }
    }

    & .articles-item {
      display: flex;

      & + .articles-item {
        margin-top: 10px;
      }
    }

    & .articles-img {
      width: 40%;
      flex-shrink: 0;
    }

    & .articles-content {
      margin: 0;
      padding-left: 15px;
      flex: 1;
    }

    & .articles-title {
      margin-top: 0;
    }
  }
  /*-------------------------------------------------------------detail*/
  .detail-wrapper {
    padding-left: 15px;
    padding-right: 15px;

    & .detail-title {
      font-size: 22px;
      line-height: 28px;
    }

    & .detail-info {
      font-size: 12px;
    }

    & .detail-sapo {
      margin-top: 15px;
      margin-bottom: 24px;
      font-size: 14px;
      color: #333;
      font-weight: bold;
    }

    & .detail-content > p {
      font-size: 14px;
    }
    & .ykcb {
      margin: 20px 0;
    }
    & .ykcb .ykcb-form {
      display: block;
    }
    & .ykcb .input-info {
      display: block;

      & input {
        width: 100%;
      }
      & .input-info__children {
        margin-left: 0 !important;
        margin-top: 10px;
      }

      & .mess {
        margin-top: 24px;
      }
    }
    & .detail-footer {
      display: none;
    }
    & .ykcb .btn_bl {
      margin-top: -23px;
    }
    & .detail-social {
      height: 40px;
      background: #e0e0e0;
      padding: 0 7px;
    }

    & .detail-share-2 {
      margin-top: 0;

      & .text {
        font-size: 12px;
      }
    }
  }

  /*-------------------------------------------------------------search*/
  .search-page__box-search {
    height: 40px;
    margin-top: 20px;
    padding-left: 16px;
    padding-right: 15px;
  }
  .box-search__btn svg {
    width: 20px;
  }
  .search-container {
    padding: 16px;
    & .search-heading {
      font-size: 22px;
      line-height: 28px;
      letter-spacing: 0.03em;
      margin-bottom: 20px;
    }
    & .search-result {
      & .articles-item {
        margin-bottom: 16px;
      }

      & .articles-img {
        width: 40%;
      }

      & .articles-content {
        margin-left: 16px;
      }
      & .articles-title {
        font-size: 14px;
        line-height: 21px;
        color: #333;
      }
      & .articles-des {
        display: none;
      }
    }
  }
}

// max width 768px
@media (max-width: 48em) {
  .d-md-none {
    display: none;
  }
  .d-md-block {
    display: block;
  }
  .d-md-flex {
    display: flex;
  }
  .d-md-grid {
    display: grid;
  }
}

// max width 640px
@media (max-width: 40em) {
  .d-sm-none {
    display: none;
  }
  .d-sm-block {
    display: block;
  }
  .d-sm-flex {
    display: flex;
  }
  .d-sm-grid {
    display: grid;
  }
}

// danh cho man hinh duoi 400px
@media (max-width: 25em) {
}
@media (max-width: 20em) {
}
